{% extends "base.html" %}

{% block content %}
<div style = "display:flex;justify-content: space-around;">
<a href = "https://codepen.io/johanmouchet">
    <div class="cat"
        data-toggle="tooltip"
        data-html="true"
        title='<span>Animation by
                    <a style = "color:#007bff;">
                        Johan Mouchet
                    </a>
                </span>'>
    
        <div class="ear ear--left"></div>
        <div class="ear ear--right"></div>
        <div class="face">
            <div class="eye eye--left">
                <div class="eye-pupil"></div>
            </div>
            <div class="eye eye--right">
                <div class="eye-pupil"></div>
            </div>
            <div class="muzzle"></div>
        </div>
    </div>
</a>
</div>

      



<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <!--form id  = "formLogin" method="POST" action="/login"-->
            <div id = "divResponse" class="field"></div>
            <div class="field">
                <div class="control">
                    <input id = "inputUserName" class="form-control" type="text" name="username" autofocus = "" placeholder="Username"  data-toggle="tooltip">
                </div>
            </div>
            <div class="input-group w-100 field">
                <input id = "inputPassword" type="password" pattern = "(?=.*\d)(?=.*[a-z]).{12,}" name = "password" class="form-control" placeholder="Enter Password">
                <span  id = "spanEye" class="input-group-text" id="basic-addon1">
                    <svg id = "eyeNormal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                    </svg>
                    <svg id = "eyeSlash" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                        <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                    </svg>
                </span>
            </div>
            <button id = "btnLogin" type = "button" class="button is-block is-info is-fullwidth">Login</button>
        <!--/form-->
    </div>
</div>
<script>
    $(".cat").tooltip({"placement":'top'});

    var btnLoginEnable = true;
    $("#btnLogin").on("click",function(event){
        const username = $("#inputUserName")[0].value;
        const password = $("#inputPassword")[0].value;

        if (!btnLoginEnable){
            return false;
        }
        
        if ((username.length==0) || (password.length ==0)){
            $("#divResponse").html('<div id = "notif"  class = "notification is-warning is-light">\
                                <a id = "close" class="delete"></a>\
                                <small id = "spanResponse">Enter valid credentials.</small>\
                            </div>');
        } else {
            $.ajax({
                type : 'POST',
                url : "{{url_for('login')}}",
                contentType: 'application/json;charset=UTF-8',
                data : JSON.stringify({username:username,password:password}),
                success : function(response){
                    console.log(response);
                    isSuccess = response["success"];
                    if (isSuccess){
                        $("#divResponse").html('<div id = "notif"  class = "notification is-success">\
                                <a id = "close" class="delete"></a>\
                                <small id = "spanResponse">Login successful. Redirecting...</small>\
                                <div class="spinner-grow spinner-grow-sm" role="status">\
                                    <span class="sr-only">Redirecting...</span>\
                                </div>\
                            </div>');
                            btnLoginEnable = false;
                            setTimeout(function(){
                                window.location.href = "{{url_for('admin')}}";
                            },2000);

                        } else {
                            const reason = response.reason;
                            $("#divResponse").html(`<div id = "notif" class = "notification is-danger">
                                                    <a id = "close" class="delete"></a>
                                                    <small id = "spanResponse" style = "color:white;">
                                                       ${reason}
                                                    </small>\
                                                </div>`);
                            btnLoginEnable = true;
                        }
                },
                error : function(error){
                    console.log(error);
                    btnLoginEnable = true;
                }
            });
        }
    })

    var showPasswordTimer;
    const showPasswordTimeout = 2000;
    $("#spanEye").mousedown(function(event){
        event.preventDefault();
        clearTimeout(showPasswordTimer);
        $("#eyeNormal").hide();
        $("#eyeSlash").show();
        $("#inputPassword").prop("type","text");
    });

    
    $("#spanEye").mouseup(function(event){
        event.preventDefault();
        clearTimeout(showPasswordTimer);
        showPasswordTimer = setTimeout(function(){
            $("#eyeNormal").show();
            $("#eyeSlash").hide();
            $("#inputPassword").prop("type","password");
        },showPasswordTimeout);
    })

    $("#divResponse").on("click","#close",function(event){
        $("#notif").hide();
    });
</script>
{% endblock %}